@charset "utf-8";
/*css reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,h7,pre,form,input,textarea,p,th,td,a{margin:0;padding:0;box-sizing: border-box;}
body{font-size: 14px;line-height: 24px;font-family: "Microsoft Yahei","微软雅黑";color: #333;background-color: #fff;  width:100%;/*width:expression(document.body.clientWidth <= 1200? "1200px": "auto"); min-width:1200px;*/}
table{border-collapse: collapse;border-spacing: 0;}
em{font-style: normal;font-weight: normal;}
ol,ul{list-style: none;}
h1,h2,h3,h4,h5,h6,h7{font-size: 100%;font-weight: normal;}
a{color: #333;text-decoration: none;}
a:hover{color: #6AA330;cursor: pointer;text-decoration: none;}
img{border: 0;}
img,input,textarea,button,label,select{outline: none;vertical-align: middle;}
input,textarea,button,input[type="button"],input[type="submit"]{font-family: "Microsoft Yahei","微软雅黑";}
input[type="button"],input[type="submit"]{cursor: pointer;border: none;}
textarea{resize: none;}
/*文字*/
.f12{font-size: 12px;}
.f13{font-size: 13px;}
.f14{font-size: 14px;}
.f16{font-size: 16px;}
.f18{font-size: 18px;}
.f20{font-size: 20px;}
.f22{font-size: 22px;}
.f25{font-size: 25px;}
.f28{font-size: 28px;}
.fb{font-weight: bold;}
.lh100{line-height: 100%;}
/*颜色设置*/
.cor3{color: #333;}
.cor6{color: #666;}
.cor9{color: #999;}
.corblue{color:#2b58b5}
.bgblue{background-color: #2b58b5;}
.red{color: #e60012;}
.white{color: #FFF;}
.green{color: #6AA330;}
.backgray{background-color: #eeeeef;}
/*对齐方式和定位*/
.tl{text-align: left;}
.tc{text-align: center;}
.tr{text-align: right;}
.mc{margin-left: auto;margin-right: auto;}
.fl{float:left;display: inline;}
.fr{float:right;display: inline;}
.clear{clear: both;}
.clearfix{display: block;zoom: 1;}
.clearfix:after{content: '';display: block;height: 0;clear:both;visibility: hidden;}
.pr{position: relative;}
.hide{display: none;}
.overh{overflow: hidden;}
.pa{position: absolute;}
/*块显示*/
.db{display: block;}
.dinb{display: inline-block;*display: inline;*zoom:1;}
.df{display: flex; display: -webkit-flex;}
.f1{flex: 1;-webkit-flex: 1;}
.f2{flex: 2;-webkit-flex: 2;}
.f3{flex: 3;-webkit-flex: 3;}
.f4{flex: 4;-webkit-flex: 4;}
.f5{flex: 5;-webkit-flex: 5;}
.f6{flex: 6;-webkit-flex: 6;}
.f7{flex: 7;-webkit-flex: 7;}
.f8{flex: 8;-webkit-flex: 8;}

/*宽度高度*/
.w100{width: 100%;max-width: 1920px;min-width:1200px;margin-left:auto;margin-right:auto;}
.w1200{width: 1200px;margin-left:auto;margin-right:auto;}
.w1100{width: 1100px;margin-left:auto;margin-right:auto;}
.w1000{width:1000px;margin-left:auto;margin-right:auto;}
.w900{width:900px;margin-left:auto;margin-right:auto;}
.w800{width:800px;margin-left:auto;margin-right:auto;}
.w600{width:600px;margin-left:auto;margin-right:auto;}
.w90{width:90%;margin-left:auto;margin-right:auto;}
.w70{width:70%;margin-left:auto;margin-right:auto;}
.w55{width:55%;margin-left:auto;margin-right:auto;}
.w50{width:50%;margin-left:auto;margin-right:auto;}
.w45{width:45%;margin-left:auto;margin-right:auto;}
.w40{width:40%;margin-left:auto;margin-right:auto;}
.w30{width:30%;margin-left:auto;margin-right:auto;}
.h100{height: 100%;}
.mc{margin-left: auto;margin-right: auto;}
/*边距*/
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}
.mt50{margin-top:50px;}
.mt60{margin-top:60px;}
.mt70{margin-top:70px;}
.ml2{margin-left:2px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml25{margin-left:25px;}
.ml30{margin-left:30px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr25{margin-right:25px;}
.mr30{margin-right:30px;}
.mb30{margin-bottom: 30px;}
.plr5{padding-left: 5px;padding-right: 5px;}
.plr10{padding-left: 10px;padding-right: 10px;}
.plr20{padding-left: 20px;padding-right: 20px;}
.ptb5{padding-top: 5px;padding-bottom: 5px;}
.ptb10{padding-top: 10px;padding-bottom: 10px;}
.ptb20{padding-top: 20px;padding-bottom: 20px;}
.pl10{padding-left:10px;}
.pr10{padding-right:10px;}
.p10{padding:10px;}
.p20{padding:20px;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:5px;}
.pt20{padding-top:20px;}
.pt25{padding-top:25px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pt50{padding-top:50px;}
.pt55{padding-top:55px;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb25{padding-bottom:25px;}
.pb30{padding-bottom:30px;}
.pb40{padding-bottom:40px;}
.pb50{padding-bottom:50px;}
.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl25{padding-left:25px;}
.pl30{padding-left:30px;}
.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr25{padding-right:25px;}
.pr30{padding-right:30px;}

/*.icon{display: inline-block;background:url(../img/login/small-icons.png) center center no-repeat;}*/

.platform-wrap{margin-top: 30px;}
.commom-footer{background-color:#4c4948;color: #FFF;font-size: 14px;padding: 3px 30px;position: absolute;bottom: 0px;width: 100%;}
.commom-footer span{float: right;}
/*鼠标悬浮变手*/
.curson{cursor: pointer;}
