body {
    min-width: 1200px;
}

header .container {
    min-width: 1200px !important;
}

header .top {
    width: 100%;
    height: 175px;
    background-color: #008784;
}

header .top-logo {
    overflow: hidden;
}

header .logo {
    width: 467px;
    margin: 40px 0 25px 0;
    float: left;
}

header .title {
    font-size: 28px;
    height: 28px;
    line-height: 28px;
    color: #fff;
    float: left;
    margin: 69px 0 0 30px;
}

header .nav {
    height: 53px;
}

header .nav>ul {
    height: 53px;
    list-style: none;
    margin-bottom: 0;
    padding-left: 40px;
}
header ul {
    list-style: none;
}
header .nav>ul>li {float: left;font-size: 18px;line-height: 18px;padding: 17px 35px;color: #fff;cursor: pointer;position: relative;}
header .nav>ul>li:hover {
    /* background: #fff; */
    color: #f5b900;
}

/*二级导航*/
header .nav>ul>li:hover .subnav{display: block;}
header .subnav{
    display: none;
    z-index: 999;
    width: 130px;
    position: absolute;
    color: white;
    top: 50px;
    left: 0px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
header .subnav li{
    height: 50px;
    color: white;
    background-color: rgb(0,135,131);
}
header .subnav li a{
    display: block;
    font-size: 16px;
    color: white;
    line-height: 50px;
    text-align: center;
}

.bottom {
    margin-top: 20px;
}

.websites-nav {
    width: 100%;
    padding: 28px 0;
    background-color: #008784;
}

.website {
    margin-right: 25px;
    float: left;
    width: -webkit-calc(20% - 25px);
    width: -moz-calc(20% - 25px);
    width: calc(20% - 25px)
}

.website .dropdown,
.website .dropdown button,
.website .dropdown .dropdown-menu {
    width: 100%;
}

.website .dropdown button {
    text-align: left !important;
}

.website .dropdown button .caret {
    float: right;
    margin-top: 8px;
}

.website:last-child {
    margin-right: 0;
}

.contact {
    margin: 58px 0 56px 0;
}

.contact-info div {
    height: 45px;
    line-height: 45px;
}

.ewm {
    float: right;
    margin-top: -126px;
}

.ewm-border {
    width: 86px;
    height: 86px;
    padding: 5px;
    border: 1px solid #f3f3f3;
}

.ewm-border img {
    width: 100%;
    height: 100%;
}

.ewmxq {
    float: left;
    margin-right: 20px;
}

.ewmxq:last-child {
    margin-right: 0;
}

.ewmsm {
    color: #5e5e5e;
    margin-top: 9px;
}

.breadcrumb {
    background: #fff;
    float: left;
    padding: 0;
    margin-bottom: 0;
}

.breadcrumb>li>a,
.breadcrumb>li.active {
    color: #1f1f1f !important;
}

.breadcrumb>li+li:before {
    margin-right: 3px;
    padding: 0 3px !important;
    color: #1f1f1f;
    content: ">";
}

.location {
    float: left;
}

.location i {
    float: left;
    margin-right: 8px;
    background: url('../img/img.png') 100% 100%;
    background-position: -15px 0;
    width: 20px;
    height: 18px;
}

.location img {
    width: 20px;
    height: 18px;
    float: left;
    margin-right: 8px;
}

.routes {
    padding: 36px 0 30px 0;
    overflow: hidden;
}

.menu-nav {
    width: 225px;
    border: 1px solid #008784;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    float: left;
    margin-right: 20px;
}

.menu-title {
    width: 100%;
    height: 71px;
    background: #008784;
    color: #fff;
    padding: 16px 0 0 16px;
}

.title-chn {
    font-size: 22px;
    line-height: 22px;
}

.title-en {
    font-size: 16px;
    line-height: 16px;
    margin-top: 4px;
}

.menu-nav-icon {
    background: url('../img/img.png') 100% 100%;
    background-position: 0 0;
    width: 15px;
    height: 15px;
    margin-right: 12px;
    margin-top: -2px;
    float: right;
}

.list-group {
    margin-bottom: 0 !important;
}

.list-group-item {
    font-size: 16px;
    color: #595959;
    cursor: pointer;
    padding: 15px;
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.list-group-item:first-child {
    border-top: none;
}

.list-group-item.active1 {
    color: #008784;
}

.ic-menu {
    background: url('../img/img.png') 100% 100% no-repeat;
    background-position: -55px 0;
    width: 20px;
    height: 20px;
    float: right;
}

.list-group-item.active1 .ic-menu {
    background: url('../img/img.png') 100% 100% no-repeat;
    background-position: -35px 0;
}

.content {
    overflow: hidden;
}

.content-list {
    width: -webkit-calc(100% - 255px);
    width: -moz-calc(100% - 255px);
    width: calc(100% - 255px);
    float: left;
    height: 707px;
    border: solid 1px #e0e0e0;
}

.search-bar {
    margin: 0 20px;
    padding: 15px 0;
    border-bottom: 1px solid #c6c6c6;
    overflow: hidden;
}

.search-label {
    float: left;
    line-height: 34px;
    color: #008784;
}

.search-input {
    float: left;
    width: 300px;
}

.search-input .form-control {
    border-color: #008784;
}

.search-input .btn {
    background-color: #008784;
    border-color: #008784;
    color: #fff;
}

.news-list {}

.news-list ul {
    color: #008784;
    padding-right: 20px;
    padding-top: 15px;
}

.news-list ul li {
    padding: 8px 0;
    cursor: pointer;
}

.news-list ul li:hover {
    /* background: #c6c6c6; */
}

.news-list ul li .article {
    float: left;
    color: #292929;
}

.news-list ul li .article-time {
    float: right;
    color: #5d5d5d;
}

ul.pagination {
    margin-top: 0;
}

.article-detail {
    width: 100%;
    border: solid 1px #e0e0e0;
}

.article-detail-title {
    margin: 0 20px;
    padding: 20px 0;
    border-bottom: 1px solid #c6c6c6;
    text-align: center;
}

.article-detail-title .h3 {
    font-size: 24px;
}

.article-column-title {
    margin: 0 20px;
    padding: 9px 0;
    border-bottom: 1px solid #c6c6c6;
}

.article-column-title .h3 {
    position: relative;
    font-size: 24px;
    color: #008784;
    padding-left: 13px;
}

.article-column-title .h3::before {
    content: ' ';
    position: absolute;
    left: 0;
    top: -2px;
    width: 3px;
    height: 32px;
    background-color: #008784;
}

.article-detail-title .label1 {
    color: #008784;
}

.article-detail-text p {
    padding: 20px;
}

.article-pager {
    overflow: hidden;
    padding: 0 20px;
    margin-bottom: 20px;
    color: #008784;
}

.archives {
    width: 488px;
    border-radius: 4px;
    border: solid 1px #cccccc;
    margin: auto;
    margin-top: 85px;
}

.archives-title {
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    color: #fff;
    background-color: #008784;
}

.archives-content {
    text-align: center;
    padding: 46px 59px;
}

.archives-input {
    width: 370px;
    height: 50px;
    margin-bottom: 25px;
    position: relative;
}

.archives-input label {
    width: 43px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 48px;
}

.archives-input label i {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.archives-input .ic-name {
    width: 19px;
    height: 21px;
    background: url("../img/img.png") -22px -25px no-repeat;
}

.ic-sfz {
    width: 22px;
    height: 18px;
    background: url("../img/img.png") 0 -25px no-repeat;
}

.archives-input input {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: solid 1px #dbdbdb;
    padding-left: 43px;
    font-size: 18px;
}

.archives-input button {
    width: 100%;
    height: 100%;
    background-color: #008784;
    color: #ffffff;
    font-size: 22px;
    letter-spacing: 5px;
}

.archives-input button:hover,
.archives-input button:focus,
.archives-input button:active {
    color: #fff;
}

.message {
    padding: 20px;
}

.message-content {
    width: 100%;
    height: 50px;
    overflow: hidden;
}

.message-input {
    width: -webkit-calc((100% - 25px)/2);
    width: -moz-calc((100% - 25px)/2);
    width: calc((100% - 25px)/2);
    float: left;
    margin-right: 25px;
    height: 50px;
    position: relative;
}

.message-input label {
    position: absolute;
    left: 0;
    width: 40px;
    height: 50px;
    text-align: center;
    line-height: 47px;
}

.message-input label i {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.message-input .ic-name {
    width: 14px;
    height: 16px;
    background: url("../img/img.png") -120px 0px no-repeat;
}

.message-input .ic-tel {
    width: 14px;
    height: 18px;
    background: url("../img/img.png") -100px 0 no-repeat;
}

.message-input:nth-child(2n) {
    margin-right: 0;
}

.ohidden {
    /* overflow: hidden; */
    width: 100%;
    height: 100%;
}

.message-input input {
    width: 100%;
    height: 100%;
    padding-left: 40px;
    border: solid 1px #c6c6c6;
    font-size: 16px;
}

.message-content1 {
    width: 100%;
    height: 332px;
    margin: 24px 0;
}

.message-textarea {
    width: 100%;
    height: 100%;
    position: relative;
}

.message-textarea textarea {
    width: 100%;
    height: 100%;
    padding-left: 40px;
    padding-top: 13px;
    border: solid 1px #c6c6c6;
    resize: none;
}

.message-textarea label {
    position: absolute;
    left: 0;
    width: 40px;
    height: 50px;
    text-align: center;
    line-height: 47px;
}

.message-textarea label i {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.message-textarea .ic-message {
    width: 16px;
    height: 16px;
    background: url("../img/img.png") -80px 0 no-repeat;
}

.message-btn {
    width: 100%;
    height: 43px;
}

.message-btn button {
    width: 100%;
    height: 100%;
    background-color: #008784;
    color: #fff;
    font-size: 18px;
    letter-spacing: 4px;
}

.message-btn button:hover,
.message-btn button:focus,
.message-btn button:active {
    color: #fff;
}



/* search-group and search-table */
.search-group{padding: 15px 15px;}
.search-group table{width: 100%;}
.search-group table tr th{color: #008784;}
.search-group table tr th:not(:first-of-type){width: 17.5%;}
.search-group table tr th:last-of-type{width:100px;}
.search-group table tr th,.search-group table tr td{padding: 5px 6px;}
.search-button{background: #008784;color: #fff;border-radius: 3px;padding: 5px 10px;border: none;width: 100%;height: 34px;}
.search-group .search-input{width: auto;}
.search-table{border-top: 1px solid #eee;margin: 0px 15px;}
.search-table table{width: 100%;border-bottom: 1px solid #eee;border-left: 1px solid #eee;margin-top: 20px;}
.search-table table tr th{color: #6c9d9c;background: #f1f8f8;padding: 8px 15px;}
.search-table table tr th,.search-table table tr td{border-top: 1px solid #eee;border-right: 1px solid #eee;}
.search-table table tr td{padding: 10px;}

.search-group a{color: #5e5e5e;cursor: pointer;padding: 0px 10px;}
.search-group a.active{color: #008784;}
.search-menu_left{width:180px;float: left;border: 1px solid #eee;border-top: 0px;margin-top: 20px;}
.search-menu_right{width:calc(100% - 200px);float: right;}
.search-menu_title{color: #6c9d9c;background: #f1f8f8;padding: 8px 15px;border-top: 1px solid #eee;}
.search-menu_title a{float: right;color: #008784;font-weight: bold;}
.search-menu_left dl{margin-bottom: 0px;}
.search-menu_left dl dt{color: #212121;padding: 10px 15px;font-weight: normal;border-bottom: 1px solid #eee;}
.search-menu_left dl dd ul{list-style: none;padding: 10px;margin-bottom: 0px;}
.search-menu_left dl dd ul li label{font-weight: normal;}
.search-menu_left dl dd ul li input[type='radio']{margin-right: 10px;}
.arrowdown{float: right;width: 0; height: 0;border-width: 6px;margin-top: 6px;border-style: solid;border-color:#828282 transparent transparent transparent;}
.search-menu_left dl dd p{text-align: center;color:#008784;}

/* radio */
.radio {
    margin: 10px 0px;
  }
  .radio input[type="radio"] {
    position: absolute;
    opacity: 0;
  }
  .radio input[type="radio"]+span:before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    margin-right: 8px;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
  }
  .radio input[type="radio"]:checked+span:before {
    background-color: #008784;
    box-shadow: inset 0 0 0 4px #f4f4f4;
  }
  /* news */
  .index-news_list{width: 480px;height:260px;float: right;position: relative;}
  .news-ul{    list-style: none;}
  .news-ul li{margin-top: 10px;}
  .news-date{background: #9c9c9c;width: 60px;float: left;margin-right: 12px;font-size: 16px;text-align: center;}
  .news-date span{color: #fff;height: 29px;line-height: 29px;}
  .news-date em{background: #008784;color: #fff;display: inherit;height: 29px;line-height: 29px;}
  .news-content{height: 58px;font: bold 15px/24px '微软雅黑';color: #6d6d6d;}
  .news-ul li::after{content: ' '; display: block;width: calc(100% - 75px);height: 1px;border-bottom: 1px dashed #dcdcdc;float: right;}

  /* 岗位详情 */
.position-detail{    padding: 23px;}
.position-head h1 {line-height: 40px;color: #333;font-size: 22px;font-family: "微软雅黑";    margin-top: 10px;}
.position-head .info{    height: 30px;border-bottom: 1px solid #d9d9d9;margin-bottom: 0px;}
.position-head .info dt { float: left; font-weight: normal;}
.position-head .info dt a {  color: #008784; }
.position-head .info dd { float: right; width: 380px;color: #5d5d5d;}
.position-head .info dd .vieCount {float:left;padding-right:4px;}
/*二维码*/

/*分享*/

.share { float: left; }
/**/
.xInfo { padding-top: 15px; padding-bottom: 15px; border-bottom: 1px solid #ececec; padding-left: 0px;list-style: none;margin: 0;}
.xInfo li { height: 30px; line-height: 22px; color: #aaaaaa; }
.xInfo li span { color: #666666; }
.xInfo-2 { border-bottom: 0; }
.xInfo-2 li { width: 33%; float: left; }
.tInfo-2 li { width: auto; float: none; }

/*详情按钮*/
.tools { height: 30px; }
.tools a { float: left; display: block; width: 106px; text-align: center; height: 30px; line-height: 30px; color: #008784; }
.tools .btn_1 { width: 113px; height: 30px; background: #008784; color: #fff; }
.cl:after {display: table;content: "";line-height: 0;clear: both;}
.vTools .warn{ margin-top:10px; color:#F00; height:22px; line-height:22px; }
.vTools .warn span{ float:right; color:#000;}
.vTools .warn img{ width: 25px;margin-right: 5px;}

.position-tabbar{width: 100%;height: 48px;background: #fff;overflow: hidden;border-bottom: 1px solid #dfdfdf;}
.position-tabbar ul{list-style: none;width: 100%;padding-left: 0px;}
.position-tabbar ul li{display:inline-block;width: 150px;text-align: center;height: 48px;line-height: 48px;}
.position-tabbar ul li.active{border-bottom: 3px solid #008784;}
.position-tabbar ul li a{font-size: 16px;color: #6d6d6d;font-weight: normal; display: inline-block;width: 100%;white-space: nowrap;overflow: hidden;}
.position-tabbar ul li.active a{color:#008784;}
.position-detail .position-tabbar{margin-top: 30px;}
.position-detail .tabbar-frame_content{padding: 20px 0px;}
.position-company b{color: #008784;font-weight: bold;}
.position-detail .tabbar-frame_content p{color: #474747;line-height: 25px;}

.jf-content {
    width: 100%;
    border: solid 1px #e0e0e0;
    padding: 20px;
    height: 651px;
}

.jf-steps {
    padding: 10px 0 30px 0;
    border-bottom: 1px solid #c6c6c6;
}

.jf-items {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #F1F1F1;
}

.jf-item {
    width: 33.33%;
    float: left;
    text-align: center;
    position: relative;
}

.jf-item.jf-active {
    background-color: #008784;
    color: #fff;
}

.sj {
    width: 50px;
    height: 50px;
    background: #008784;
}

.box {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 18px solid #F1F1F1;
    z-index: 9;
    position: absolute;
    top: 0;
    right: -36px;
}

.box1 {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 18px solid #fff;
    z-index: 8;
    position: absolute;
    top: 0;
    right: -39px;
}

.box2 {
    width: 3px;
    height: 50px;
    background-color: #fff;
    z-index: 8;
    position: absolute;
    top: 0;
    right: -3px;
}

.jf-item.jf-active .box {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 18px solid #008784;
    z-index: 9;
    position: absolute;
    top: 0;
    right: -36px;
}

.jf-item.jf-active .box1 {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 18px solid #fff;
    z-index: 8;
    position: absolute;
    top: 0;
    right: -39px;
}

.jf-item.jf-active .box2 {
    width: 3px;
    height: 50px;
    background-color: #fff;
    z-index: 8;
    position: absolute;
    top: 0;
    right: -3px;
}

.jf-result {
    width: 100%;
    text-align: center;
    padding: 170px 0;
}

.jf-tips {
    width: 60%;
    min-width: 600px;
    height: 170px;
    margin: 0 auto;
    border: solid 4px #a1dad9;
    padding: 42px 0;
    position: relative;
}

.jf-tip-text {
    width: 450px;
    margin-left: 100px;
    height: 82px;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-line-pack: distribute;
    -webkit-align-content: space-around;
            align-content: space-around;
    text-align: left;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.jf-tip-icon {
    width: 100px;
    height: 80px;
    position: absolute;
    left: 0;
    top: 42px;
    text-align: center;
    line-height: 80px;
}

.jf-tip-icon i {
    width: 46px;
    height: 46px;
    vertical-align: middle;
    display: inline-block;
    background: url("../img/img.png") -220px 0 no-repeat;
}

.ask-list {
    width: 100%;
    border: solid 1px #e0e0e0;
    padding: 40px 20px;
}

.al-item {
    width: 100%;
    height: 118px;
    background-color: #ffffff;
    border: solid 1px #e0e0e0;
    position: relative;
    margin-bottom: 20px;
}

.al-item:last-child {
    margin-bottom: 0;
}

.al-item.active2 {
    height: 168px;
}

.al-item.active2 .glyphicon {
    color: #008784;
}

.al-question {
    padding: 15px 20px 10px;
    line-height: 30px;
    font-size: 16px;
    color: #424242;
}

.al-question i {
    float: left;
    width: 33px;
    height: 30px;
    background: url("../img/img.png") -180px 0 no-repeat;
    margin-right: 7px;
}

.al-answer {
    padding: 10px 20px;
    line-height: 30px;
    font-size: 14px;
    font-weight: normal;
    color: #424242;
}

.al-answer i {
    float: left;
    width: 32px;
    height: 30px;
    background: url("../img/img.png") -140px 0 no-repeat;
    margin-right: 8px;
}

.al-item .glyphicon {
    position: absolute;
    right: 26px;
    top: 26px;
    cursor: pointer;
}

.al-btn {
    text-align: right;
    padding-right: 26px;
}

.al-btn .btn {
    width: 70px;
    height: 28px;
    background-color: #008784;
    color: #fff;
    text-align: center;
    padding: 0;
    line-height: 28px;
}

.td-item {
    width: 100%;
}

.td-item .t-bg {
    width: 100%;
    height: 260px;
    background: url("../img/teacher.png") 100% no-repeat;
}

.td-detail {
    margin-top: -60px;
    width: 80%;
    background-color: #fff;
    margin-left: 10%;
    box-shadow: 0px 0px 2px 0px rgba(199, 199, 199, 0.75);
    z-index: 9;
}

.td-detail .t-name {
    line-height: 38px;
    text-align: center;
    font-size: 18px;
    color: #000;
}

.td-detail .t-xhx {
    text-align: center;
    height: 1px;
    line-height: 1px;
}

.td-detail .t-xhx span {
    width: 31px;
    height: 1px;
    border: solid 1px #008784;
    display: inline-block;
}

.td-detail .t-sm {
    padding: 12px;
    text-indent: 2em
}

.td-sm {
    padding: 20px;
    text-indent: 2em;
}

.td-ask {
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

.td-ask .btn {
    width: 260px;
    height: 40px;
    background-color: #008784;
    border-radius: 4px;
    color: #fff;
}