body {
    min-width: 1200px;
}

header .container {
    min-width: 1200px !important;
}

header .top {
    width: 100%;
    height: 175px;
    background-color: #008784;
}

header .top-logo {
    overflow: hidden;
}

header .logo {
    width: 467px;
    margin: 40px 0 25px 0;
    float: left;
}

header .title {
    font-size: 28px;
    height: 28px;
    line-height: 28px;
    color: #fff;
    float: left;
    margin: 69px 0 0 30px;
}

header .nav {
    height: 53px;
}

header .nav ul {
    height: 53px;
    list-style: none;
    margin-bottom: 0;
}

header .nav ul li {
    float: left;
    font-size: 18px;
    line-height: 18px;
    padding: 17px 35px;
    color: #fff;
    cursor: pointer;
}

header .nav ul li:hover {
    background: #fff;
    opacity: 0.6;
    color: #008784;
}

.bottom {
    margin-top: 20px;
}

.websites-nav {
    width: 100%;
    padding: 28px 0;
    background-color: #008784;
}

.website {
    margin-right: 25px;
    float: left;
    width: -webkit-calc(20% - 25px);
    width: -moz-calc(20% - 25px);
    width: calc(20% - 25px)
}

.website .dropdown,
.website .dropdown button,
.website .dropdown .dropdown-menu {
    width: 100%;
}

.website .dropdown button {
    text-align: left !important;
}

.website .dropdown button .caret {
    float: right;
    margin-top: 8px;
}

.website:last-child {
    margin-right: 0;
}

.contact {
    margin: 58px 0 56px 0;
}

.contact-info div {
    height: 45px;
    line-height: 45px;
}

.ewm {
    float: right;
    margin-top: -126px;
}

.ewm-border {
    width: 86px;
    height: 86px;
    padding: 5px;
    border: 1px solid #f3f3f3;
}

.ewm-border img {
    width: 100%;
    height: 100%;
}

.ewmxq {
    float: left;
    margin-right: 20px;
}

.ewmxq:last-child {
    margin-right: 0;
}

.ewmsm {
    color: #5e5e5e;
    margin-top: 9px;
}

.breadcrumb {
    background: #fff;
    float: left;
    padding: 0;
    margin-bottom: 0;
}

.breadcrumb>li>a,
.breadcrumb>li.active {
    color: #1f1f1f !important;
}

.breadcrumb>li+li:before {
    margin-right: 3px;
    padding: 0 3px !important;
    color: #1f1f1f;
    content: ">";
}

.location {
    float: left;
}

.location i {
    float: left;
    margin-right: 8px;
    background: url('../img/img.png') 100% 100%;
    background-position: -15px 0;
    width: 20px;
    height: 18px;
}

.location img {
    width: 20px;
    height: 18px;
    float: left;
    margin-right: 8px;
}

.routes {
    padding: 36px 0 30px 0;
    overflow: hidden;
}

.menu-nav {
    width: 225px;
    border: 1px solid #008784;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    float: left;
    margin-right: 20px;
}

.menu-title {
    width: 100%;
    height: 71px;
    background: #008784;
    color: #fff;
    padding: 16px 0 0 16px;
}

.title-chn {
    font-size: 22px;
    line-height: 22px;
}

.title-en {
    font-size: 16px;
    line-height: 16px;
    margin-top: 4px;
}

.menu-nav-icon {
    background: url('../img/img.png') 100% 100%;
    background-position: 0 0;
    width: 15px;
    height: 15px;
    margin-right: 12px;
    margin-top: -2px;
    float: right;
}

.list-group {
    margin-bottom: 0 !important;
}

.list-group-item {
    font-size: 16px;
    color: #595959;
    cursor: pointer;
    padding: 15px;
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.list-group-item:first-child {
    border-top: none;
}

.list-group-item.active1 {
    color: #008784;
}

.ic-menu {
    background: url('../img/img.png') 100% 100% no-repeat;
    background-position: -55px 0;
    width: 20px;
    height: 20px;
    float: right;
}

.list-group-item.active1 .ic-menu {
    background: url('../img/img.png') 100% 100% no-repeat;
    background-position: -35px 0;
}

.content {
    overflow: hidden;
}

.content-list {
    width: -webkit-calc(100% - 255px);
    width: -moz-calc(100% - 255px);
    width: calc(100% - 255px);
    float: left;
    height: 707px;
    border: solid 1px #e0e0e0;
}

.search-bar {
    margin: 0 20px;
    padding: 15px 0;
    border-bottom: 1px solid #c6c6c6;
    overflow: hidden;
}

.search-label {
    float: left;
    line-height: 34px;
    color: #008784;
}

.search-input {
    float: left;
    width: 300px;
}

.search-input .form-control {
    border-color: #008784;
}

.search-input .btn {
    background-color: #008784;
    border-color: #008784;
    color: #fff;
}

.news-list {}

.news-list ul {
    color: #008784;
    padding-right: 20px;
    padding-top: 15px;
}

.news-list ul li {
    padding: 8px 0;
    cursor: pointer;
}

.news-list ul li:hover {
    /* background: #c6c6c6; */
}

.news-list ul li .article {
    float: left;
    color: #292929;
}

.news-list ul li .article-time {
    float: right;
    color: #5d5d5d;
}

ul.pagination {
    margin-top: 0;
}

.article-detail {
    width: 100%;
    border: solid 1px #e0e0e0;
}

.article-detail-title {
    margin: 0 20px;
    padding: 20px 0;
    border-bottom: 1px solid #c6c6c6;
    text-align: center;
}

.article-detail-title .h3 {
    font-size: 24px;
}

.article-column-title {
    margin: 0 20px;
    padding: 9px 0;
    border-bottom: 1px solid #c6c6c6;
}

.article-column-title .h3 {
    position: relative;
    font-size: 24px;
    color: #008784;
    padding-left: 13px;
}

.article-column-title .h3::before {
    content: ' ';
    position: absolute;
    left: 0;
    top: -2px;
    width: 3px;
    height: 32px;
    background-color: #008784;
}

.article-detail-title .label1 {
    color: #008784;
}

.article-detail-text p {
    padding: 20px;
}

.article-pager {
    overflow: hidden;
    padding: 0 20px;
    margin-bottom: 20px;
    color: #008784;
}

.archives {
    width: 488px;
    border-radius: 4px;
    border: solid 1px #cccccc;
    margin: auto;
    margin-top: 85px;
}

.archives-title {
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    color: #fff;
    background-color: #008784;
}

.archives-content {
    text-align: center;
    padding: 46px 59px;
}

.archives-input {
    width: 370px;
    height: 50px;
    margin-bottom: 25px;
    position: relative;
}

.archives-input label {
    width: 43px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 48px;
}

.archives-input label i {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.archives-input .ic-name {
    width: 19px;
    height: 21px;
    background: url("../img/img.png") -22px -25px no-repeat;
}

.ic-sfz {
    width: 22px;
    height: 18px;
    background: url("../img/img.png") 0 -25px no-repeat;
}

.archives-input input {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: solid 1px #dbdbdb;
    padding-left: 43px;
    font-size: 18px;
}

.archives-input button {
    width: 100%;
    height: 100%;
    background-color: #008784;
    color: #ffffff;
    font-size: 22px;
    letter-spacing: 5px;
}

.archives-input button:hover,
.archives-input button:focus,
.archives-input button:active {
    color: #fff;
}

.message {
    padding: 20px;
}

.message-content {
    width: 100%;
    height: 50px;
    overflow: hidden;
}

.message-input {
    width: -webkit-calc((100% - 25px)/2);
    width: -moz-calc((100% - 25px)/2);
    width: calc((100% - 25px)/2);
    float: left;
    margin-right: 25px;
    height: 50px;
    position: relative;
}

.message-input label {
    position: absolute;
    left: 0;
    width: 40px;
    height: 50px;
    text-align: center;
    line-height: 47px;
}

.message-input label i {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.message-input .ic-name {
    width: 14px;
    height: 16px;
    background: url("../img/img.png") -120px 0px no-repeat;
}

.message-input .ic-tel {
    width: 14px;
    height: 18px;
    background: url("../img/img.png") -100px 0 no-repeat;
}

.message-input:nth-child(2n) {
    margin-right: 0;
}

.ohidden {
    /* overflow: hidden; */
    width: 100%;
    height: 100%;
}

.message-input input {
    width: 100%;
    height: 100%;
    padding-left: 40px;
    border: solid 1px #c6c6c6;
    font-size: 16px;
}

.message-content1 {
    width: 100%;
    height: 332px;
    margin: 24px 0;
}

.message-textarea {
    width: 100%;
    height: 100%;
    position: relative;
}

.message-textarea textarea {
    width: 100%;
    height: 100%;
    padding-left: 40px;
    padding-top: 13px;
    border: solid 1px #c6c6c6;
    resize: none;
}

.message-textarea label {
    position: absolute;
    left: 0;
    width: 40px;
    height: 50px;
    text-align: center;
    line-height: 47px;
}

.message-textarea label i {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.message-textarea .ic-message {
    width: 16px;
    height: 16px;
    background: url("../img/img.png") -80px 0 no-repeat;
}

.message-btn {
    width: 100%;
    height: 43px;
}

.message-btn button {
    width: 100%;
    height: 100%;
    background-color: #008784;
    color: #fff;
    font-size: 18px;
    letter-spacing: 4px;
}

.message-btn button:hover,
.message-btn button:focus,
.message-btn button:active {
    color: #fff;
}