ul {
    list-style: none;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, h7, pre, form, input, textarea, p, th, td, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 框架 */
.frame-wrap {width: 1200px;margin-left: auto;margin-right: auto;}
.box{background: #FFF;border: 1px solid #ddd;}
.overh{overflow: hidden;}
.bold{font-weight: bold;}
.frame-a,.frame-b,.frame-c{margin-top: 20px;overflow: hidden;}
.frame-a_left{min-width: 840px;width: 70%;height: 323px;float: left;}
.frame-a_right{min-width: 340px;width: 28.3%;width: calc(30% - 20px);height: 323px;float: right;border: 2px solid #008784;}
.frame-b_left{min-width: 840px;width: 70%;height: 360px;float: left;}
.frame-b_right{min-width: 340px;width: 28.3%;width: calc(30% - 20px);height: 360px;float: right;border: 2px solid #008784;}
.frame-c_left{min-width: 840px;width: 70%;height: 290px;float: left;}
.frame-c_right{min-width: 340px;width: 28.3%;width: calc(30% - 20px);height: 290px;float: right;}

/* 标题 */
.tabbar{width: 100%;height: 48px;background: #f7f7f7;overflow: hidden;}
.tabbar ul{list-style: none;width: 80%;width: calc(100% - 88px);float: left;}
.tabbar ul li{display:inline-block;width: 150px;text-align: center;height: 48px;line-height: 48px;}
.tabbar ul li a{font-size: 16px;color: #6d6d6d;font-weight: bold; display: inline-block;width: 100%;white-space: nowrap;overflow: hidden;}
.tabbar ul li.active a{background: #008784;color:#fff;}
.tabbar>a{float: right;width: 88px;text-align: center;height: 48px;line-height: 48px;color: #008784;font-weight: bold;}


/*新闻*/
.news-swiper{width:330px;height: 260px;display: inline-block;margin-top: 12px;}
.news-swiper img{width: 100%;height: 100%;}
.swiper-pagination{text-align: right;padding-right: 20px;}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin: 0px 6px;}
.swiper-pagination-bullet {width: 8px;height: 8px;display: inline-block;border-radius: 100%;background: #fff;opacity: 1;}
.swiper-pagination-bullet-active {opacity: 1; background: #f5b900;}

/* .index-news_list{width: 480px;height:260px;float: right;position: relative;}
.news-ul li{margin-top: 10px;}
.news-date{background: #9c9c9c;width: 60px;float: left;margin-right: 12px;font-size: 16px;text-align: center;}
.news-date span{color: #fff;height: 29px;line-height: 29px;}
.news-date em{background: #008784;color: #fff;display: inherit;height: 29px;line-height: 29px;}
.news-content{height: 58px;font: bold 15px/24px '微软雅黑';color: #6d6d6d;}
.news-ul li::after{content: ' '; display: block; width: 405px;height: 1px;border-bottom: 1px dashed #dcdcdc;float: right;} */

/* 登录 */
.login-inform input{width: 100%;height: 55px;border: 1px solid #eaeef1;font-size: 14px;padding-left: 55px;background: #f7f7f7;border-radius: 4px;}
.login-inform input:focus{border-color: #78c9fd}
.login-inform input[type='button']{background-color: #f5b900;border: none;color: #FFF;line-height: 38px;color: #FFF;font-size: 18px;border-radius: 4px;padding-left: 0px;}
.login-inform input[type='button']:hover{background-color:rgba(255, 168, 1,0.9)}
.login-inform,.login-btn_group{width: 100%;}
.login-inform{position: relative;padding: 20px;}
.login-inform li{position: relative;margin-bottom: 20px;}
.login-inform li label{ position: absolute;width: 55px;height: 55px;text-align: center;line-height: 55px;border-radius: 4px 0px 0px 4px}
.login-tabbar{border-bottom: 2px solid #008784;}
.login-tabbar a{height: 60px;line-height: 60px;width: 50%;text-align: center;display: inline-block;color: #008784;}
.login-tabbar a.active{background: #008784;color: #fff;}
.company-form{padding: 20px;}
.company-form li p{text-align: center;color: #a3a3a3;margin-bottom: 20px;}
.company-form li:not(:first-of-type){line-height: 46px;font-size: 15px;border-radius: 4px;text-align: center;}
.company-form li:not(:first-of-type) em{font-weight: bold;font-style: normal;}
.company-form li:nth-of-type(2){background-color: #f5b900;color: #000;margin-bottom: 10px;}
.company-form li:nth-of-type(3){background-color: #035994;color: #FFF;margin-bottom: 10px;}
.company-form li:nth-of-type(4){background-color: #1f1a17;color: #FFF;}

/* 招聘信息 */
.frame-list{padding: 5px 10px 5px 35px;list-style-image: url(../img/square.png);}
.frame-list>li{height: 37px;line-height: 37px;float:left;width: 100%;}
.job{float: left;width: 100%;}
.job li{display: inline-block;white-space: nowrap;overflow: hidden;}
.job li:nth-of-type(1){width:573px;width: calc(100% - 245px);text-overflow: ellipsis;}
.job li:nth-of-type(2):not(:last-of-type){color: #008784; font-size: 15px;}
.job li:last-of-type{color:#8a8a8a;float: right;padding-right: 20px;}

/* 日历 */
.calendar-bar{background: #008784;color: #fff;font-size: 15px;height: 58px;line-height: 58px;}

.adv{display: flex;justify-content: space-between;margin: 20px 0px;}
.link{display: flex;justify-content: space-around;margin: 20px 0px;background: #f7f7f7;padding: 15px 8px;}

/* 四宫格 */
.frame-c_right{border: none;}
.frame-c_right .menue-container{
    display: flex;
    flex-flow:column nowrap;
    width: 340px;/*任意改变长宽*/
    height: 290px;
}
.frame-c_right .menue-parent{
    display: flex;
     flex-flow:row nowrap;
    flex:1 1 0;/*元素弹性*/
    text-align: center;
}
.frame-c_right .menue-container .menue-parent:first-child{margin-bottom: 10px;}
.frame-c_right .menue-item{
    flex:1 1 0;/*元素弹性*/
    background: linear-gradient(
        45deg,           #e5e5e5 0, #e5e5e5 15%, transparent 15%, transparent 50%,           #e5e5e5 50%, #e5e5e5 0%, transparent 70%, transparent  
      );
  background-size: 5px 5px;
}
.frame-c_right .menue-item>div{
    flex:1 1 0;/*元素弹性*/
    background: #fff;
    width: 155px;
    height: 130px;
    margin: 5px;
}
.frame-c_right .menue-item>div img{margin-top: 12px;}
.frame-c_right .menue-item>div>div{line-height: 18px;}
.frame-c_right .menue-parent:first-of-type .menue-item:first-of-type>div>div{margin-top: 10px;}
.frame-c_right .menue-item>div>div strong{font-size: 16px;font-weight: bold;}
.frame-c_right .menue-parent .menue-item:first-child{margin-right: 10px;}


/* sprites */
.icon{display: inline-block;transition: all 0.2s ease-out 0s;position: relative;background-repeat: no-repeat; transform: scale(0.8);}

.bg-login_user {
    width: 30px; height: 30px;
    background: url('../img/css_sprites.png') -10px -10px;
    vertical-align: middle;
}
.bg-login_password {
    width: 30px; height: 30px;
    background: url('../img/css_sprites.png') -60px -10px;
    vertical-align: middle;
}
.bg-qy_fb {
    width: 30px; height: 30px;
    background: url('../img/css_sprites.png') -10px -60px;
    vertical-align: middle;
    top: -2px;
}
.bg-qy_sq {
    width: 30px; height: 30px;
    background: url('../img/css_sprites.png') -60px -60px;
    vertical-align: middle;
}
.bg-qy_xc {
    width: 30px; height: 30px;
    background: url('../img/css_sprites.png') -110px -10px;
    vertical-align: middle;
}
.bg-icon_rl {
    width: 30px; height: 30px;
    background: url('../img/css_sprites.png') -110px -60px;
    vertical-align: middle;
    transform: scale(1);
    margin: 0px 5px;
}

.bg-icon_dz {
    width: 30px; height: 30px;
    background: url('../img/css_sprites.png') -10px -110px;
    display: inline-block;
    vertical-align: middle;
    transform: scale(1);
    top: -2px;
}
.bg-rl1 {
    width: 30px; height: 30px;
    background: url('../img/css_sprites.png') -60px -110px;
}
.bg-rl2 {
    width: 30px; height: 30px;
    background: url('../img/css_sprites.png') -110px -110px;
}