/*
  作者：2515421994@qq.com
  时间：2019-10-25
  描述：三位一体样式
*/
/* common */
.w100{width: 100%}
.pr{position: relative}
.input{outline: none}
.frame-wrap {width: 1200px;margin-left: auto;margin-right: auto;}
.box{background: #FFF;border: 2px solid #f7f7f7;}
.overh{overflow: hidden;}
.bold{font-weight: bold;}
.frame-a,.frame-b,.frame-c{margin-top: 20px;overflow: hidden;}
.frame-a_left{min-width: 840px;width: 70%;height: 323px;float: left;border: none;}
.mt20{margin-top: 20px;}
button:focus,button:active,.btn:active:focus, .btn:focus{outline: none;}
button.yellow{  background-color: #f5b900!important;  color: #fff; border-radius: 40px;border-color: #f5b900 }
button.yellow:active, button.yellow:focus,
button.yellow:hover{  color: #fff !important;  background-color: #f5b900 !important;  border-color: #f5b900 !important;  opacity: 0.7 !important;  }
.articleTpl-title{font-weight: bold}
.label-select{border: none;box-shadow:none;width: 116px;margin-right: 0px;position: absolute;right: 17px;}
.label-select:focus{border: none;box-shadow: none}
/*swiper*/
.swiper-pagination{bottom: 14px!important;}
.swiper-pagination-bullet{width: 15px;height: 15px; background: inherit; border: 1px solid #008784;opacity: 1;}
.swiper-pagination-bullet-active{background: #008784;}
.index-swiper img{width: 100%;height: 425px;}
.swiper-slide img,.swiper-slide{border-radius: 0px 0px 4px 4px;}

.content-list{width: 955px;min-height: 489px;}
.articleTpl-title::before{height: 20px;visibility: hidden;}

/*基本信息*/
.jf-item{width: 25%;}
.jf-steps{border-bottom: none;padding-top: 0px;}
.uploadlabel{display: inline-block;width: 100%;padding: 5px;}
.label-select_wrap .red{top: 16px;position: absolute;right: 32px;}

/*联系人*/
.contact-wrap{margin-bottom: 40px;}
.contact-wrap_title{font-size: 16px;font-weight: bold;position: relative;padding-left: 14px;}
.contact-wrap_title:before{position: absolute;left: 0px;content: "";width: 3px;height: 20px;background: #008784;border-radius: 3px;}


