/*
  作者：2515421994@qq.com
  时间：2019-10-25
  描述：三位一体样式
*/
/* common */
.w100{width: 100%}
.pr{position: relative}
.input{outline: none}
.frame-wrap {width: 1200px;margin-left: auto;margin-right: auto;}
.box{background: #FFF;border: 2px solid #f7f7f7;}
.overh{overflow: hidden;}
.bold{font-weight: bold;}
ul li{list-style: none;}
ul{padding-left: 0px;}
.tc{text-align: center}
.frame-a,.frame-b,.frame-c{margin-top: 20px;overflow: hidden;}
.frame-a_left{min-width: 840px;width: 70%;height: 323px;float: left;border: none;}
.mt20{margin-top: 20px;}
button:focus,button:active,.btn:active:focus, .btn:focus{outline: none;}
button.yellow{  background-color: #f5b900!important;  color: #fff; border-radius: 40px;border-color: #f5b900 }
button.yellow:active, button.yellow:focus,
button.yellow:hover{  color: #fff !important;  background-color: #f5b900 !important;  border-color: #f5b900 !important;  opacity: 0.7 !important;  }
.articleTpl-title{font-weight: bold}
.list-group-item:hover{color: #008784;}
.list-group-item.active1{font-weight: bold}
/*swiper*/
.swiper-pagination{bottom: 14px!important;}
.swiper-pagination-bullet{width: 15px;height: 15px; background: inherit; border: 1px solid #008784;opacity: 1;}
.swiper-pagination-bullet-active{background: #008784;}
.index-swiper img{width: 100%;height: 425px;}
.swiper-slide img,.swiper-slide{border-radius: 0px 0px 4px 4px;}

.content-list{width: 955px;min-height: 489px;}
.articleTpl-title::before{height: 20px;visibility: hidden;}

/*基本信息*/
.jf-item{width: 25%;}
.jf-steps{border-bottom: none;padding-top: 0px;}
.uploadlabel{color: #fff;padding: 6px 12px;border-radius: 4px;font-size: 14px;margin-top: 10px;font-weight: 400;cursor: pointer;background: rgba(0,135,132,0.1);color: #008784;border-radius: 40px;}
.uploadlabel:active,
.uploadlabel:hover,
.uploadlabel:visited{opacity: 0.7;}
.label-select_wrap{padding-top: 0px!important;}
#basicForm .label-select_wrap .red{top: 6px;position: absolute;right: 32px;}
#basicForm  .label-select{border: none;box-shadow:none;width: 116px;margin-right: 0px;position: absolute;right: 17px;}
#basicForm  .label-select:focus{border: none;box-shadow: none}

/*联系人*/
.contact-wrap{margin-bottom: 40px;}
.contact-wrap_title{font-size: 16px;font-weight: bold;position: relative;padding-left: 14px;}
.contact-wrap_title:before{position: absolute;left: 0px;content: "";width: 3px;height: 20px;background: #008784;border-radius: 3px;}
#selectForm .label-select{width: 146px;}
#selectForm .label-select_wrap .red{top: 9px;position: absolute;right: 15px;}
.label-full{text-align: left!important;padding-left: 18px;margin-bottom: 10px!important;}

/*选考信息*/
.checkbox-wrap li{list-style: none;float: left;}
.checkbox-wrap .checkbox{padding-top: 5px;}
.checkbox span{line-height: 14px;}
.file-btn{position: absolute;width:100%;height: 100%;opacity: 0;cursor: pointer;top: 0px;}
.file-btn_wrap{position: relative;width: 180px;height: 120px;border: 1px dashed #008784;border-radius: 4px;text-align: center;line-height: 116px;background: rgba(241,241,241,0,3)}
.upimg-wrap{display: inline-block;margin-top: 10px;position: relative;text-align: center}
.up-btn_img{width: 44px;}

/*在线支付*/
.pay-online ul{padding-left: 14px;}
.pay-online ul li:not(:last-child){margin-bottom: 30px;}
.pay-online h5{font-size: 14px;}
.pay-online .contact-wrap_title{padding-left: 24px;}
.pay-online .contact-wrap_title:before{width: 15px;height: 15px;border-radius: 50%;top: 3px;background: #eee;}
.pay-online_ctxt{padding-left: 25px;}
.active:before{background: #008784!important;}
.link-url{background: #f5b900;color: #FFF;padding: 2px 20px;border-radius: 10px;cursor: pointer;text-decoration: none;}
.link-url:hover{text-decoration: none;color: #FFF;}
.link-url .glyphicon-hand-up{margin-right: 4px;position: relative;top: 2px;font-size: 13px;}

/*分组信息*/
.group-wrap{background: #fafafa}
.group-wrap .list-group{padding: 17px 50px;}
.group-wrap .list-group-item{background: transparent}
.group-label{margin-right: 60px;}
.group-wrap .list-group-item{border: none;border-bottom: 1px dashed #eee}
.group-wrap .list-group-item:last-child{border-bottom: none}
.group-value{font-weight: normal;font-size: 15px;}
.wait{background: rgba(214,48,48,0.26);color: #d43030;padding: 1px 12px;}
.search-score{color: #008784;font-size: 22px;}
.search-score_label{font-size: 16px;color: #595959}
.grade-result{padding: 11px 0px;}

.sw-tip{background: rgba(0,135,132,0.21);color: #008784; border-radius: 4px;  padding: 9px 10px;  font-size: 13px;margin-bottom: 10px;}
.sw-tip .glyphicon-list-alt{margin-right: 4px;top: 2px;}


/*登录注册*/
.top{position: relative;height: 500px!important;}
header .top-logo{margin-top: 100px;margin-left: 200px;}
.login{    width: 800px;    margin: -250px auto 0;    padding: 70px 0;    border: 1px solid #ddd;    background: #fff;     z-index: 1;    position: relative;    border-radius: 5px;    display: flex;}
.login_left{    flex: 5.5;    border-right: 1px #e5e5e5 dashed;}
.login_right{    flex: 4.5;}
.login_title{font-size: 23px;text-align: center;color: #008784;font-weight: 600;margin-bottom: 50px;}
.login_input{text-align: center;width:300px;margin: 0 auto 20px;position: relative;}
.login_input2{width:300px;margin: 0 auto 20px;position: relative;}
.login_input input{background: #F7F7F7;font-size: 14px;border-radius: 3px;outline: 0;border:none;    -webkit-appearance:none;/*去除阴影边框*/    -webkit-tap-highlight-color:rgba(0,0,0,0);/*点击高亮的颜色*/    line-height: 45px;  padding-left: 40px;  width: 300px;}
.login_input .btn-group>.btn:first-child{width: 300px;background: #F7F7F7;border: none;height: 45px;text-align: left;text-indent: 2rem;color: #008784 !important;}
.login_input2 select{border-radius: 3px;outline: 0;text-indent: 1rem; margin-right: 11px;position:relative;width: 90px;background: #F7F7F7;border: none;height: 45px;text-align: left;color: #008784 !important;}
.login_input .btn-group.open .dropdown-toggle{box-shadow: none;}
.login_input .glyphicon.glyphicon-chevron-down{position: absolute;right: 10px;top: 15px;color: #008784;}
.login_input .dropdown-toggle:active, .dropdown-toggle:focus, .dropdown-toggle:hover{color: #008784 !important; background-color: #F7F7F7 !important;}
.login_input img{height: 20px; position: absolute; margin: 13px 10px;z-index: 3;}
.login_input i{ position: absolute; right: 15px; top: 15px;color: #008784;}
.forget{color: #008784;font-size: 14px;text-align: right;width: 300px;margin: 0 auto;}
.login_bun{cursor: pointer; color: #fff;background: #f5b900;border-radius: 45px; line-height: 45px;width: 300px;margin: 40px auto 0;text-align: center;font-size: 16px;}
.login-icon{height: 110px;width: 110px;margin-top: 15px;}
.login_right_border{margin: 80px 0 0 70px;color: #505050;}
.registered{margin: 15px 0 40px;color: #f5b900;cursor: pointer;}
.getymz{ position: absolute; right: 0px; line-height: 47px;top: 0; padding: 0 10px;color: #008784;cursor: pointer;-webkit-user-select: none; -ms-user-select: none; }