@CHARSET "UTF-8";
.shouYe_div_tplb
{
	width: 100%;
	height: auto;
	margin-top: 110px;
}
.tplb_img
{
	width: 100%;
	height: auto;
}
.slide_wrapper
{
	list-style-type: none;
	position: relative;
	left: -2.1%;
}
.zkds{width: 1200px;height:1700px;margin-left: auto;margin-right: auto;background:url(../img/xyzy_han.png);}
.xyzy{width: 600px;height: 260px;display: inline-block;margin: 0px;padding: 0px;float:left;}
.title{position:relative;}
.title1{top:60px;}
.title2{top:90px;}
.title3{top:60px;}
.title4{top:25px;}
.title5{top:45px;}
.title6{top:-10px;}
.title7{top:30px;}
#jgxyzy{position:relative;top:19px;}
.title8{top:25px;}
.title9{top:5px;}
.title10{top:-90px;}
.title11{top:-56px;}
.title11{top:-100px;}
.title div{text-align:center;}
.xymc{color:black;font-size:20px;font-family:"微软雅黑";}
.xymcE{color:rgb(150,150,150);cursor:default;display: inline-block;}
.xymcE:hover{color:rgb(150,150,150);}
.xyjj{color:rgb(150,150,150);font-size:16px;font-family:"微软雅黑";}
.xyjj:hover{color:rgb(150,150,150);}
.ztxy{color:rgb(85,167,153);font-size:16px;font-family:"微软雅黑";margin-left:80px;}
.ztxy:hover{color:rgb(85,167,153);}
.zy{color:rgb(150,150,150);position:relative;}
.zy:hover{color:rgb(85,167,153);}
.ysgc{width:70px;height:50px;position:relative;top:-31px;left:79px;}