body{margin: 0px;font-family: "黑体"}
a{outline: none;}
.ehcart-body{width: 960px;margin: 0 auto;position: relative;}
.ehcart-img{vertical-align: middle;}
.ehcart_wrap{height: 330px;background-color: #d3effd;background-image: url("../img/img_bck.png");background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size:100% 100%;
    -webkit-background-size:100% 100%;
    -o-background-size:100% 100%;
    background-position:bottom left;
    }

.ehcart_wrap_left,.ehcart_wrap_right{height:100%;width: 50%;float: left;}
.ehcart-img_btn{position: absolute;top: 7px;right: 15px;}
.ehcart-img_btn:hover{cursor: pointer}
.login-line{margin:0 auto;height: 280px;background: radial-gradient(#bce4f2 24%, #d8f3fe 100%);width: 2px;position: absolute;left: 50%;top: 70px;}
.ehcart_wrap_pie{height: 100%;float: left;}
#leftPie{height: 100%;}
.ehcart_wrap_left{position: relative;}
.ehcart_wrap-title{position: absolute;right: 0px;top: 20px;right: 18px;}
.ehcart_wrap-title p{margin: 0px;font-size: 15px;color:rgb(25,161,203);}
.ehcart_wrap-title p span{color: #ef413c;margin-right: 6px;}
.ehcart_wrap-title p label{font-weight: bold;}
.tab-select{position: absolute;left: 20px;top: 20px;z-index: 99;}
.ehcart_wrap_right{position: relative;}
#barChart{height: 100%;width: 100%;}
.tab-select span{color: #999;display: block;font-weight: bold;font-size: 15px;}
.tab-select span:hover{cursor: pointer;}
.tab-select .active{color: rgb(25,161,203);}
