<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">	
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%d %-5p [%c] - %m%n"/>
        </layout>
    </appender>
    <category name="org.springframework">
        <priority value="INFO"/>
        <appender-ref ref="CONSOLE"/>  
    </category>

    <category name="com.ourway">
        <priority value="ERROR"/>
        <appender-ref ref="CONSOLE"/>
    </category>
    <category name="org">
        <priority value="ERROR"/>
        <appender-ref ref="CONSOLE"/>  
    </category>
    <category name="org.zkoss">
        <priority value="ERROR"/>
        <appender-ref ref="CONSOLE"/>
    </category>


</log4j:configuration>
