<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">	
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%d %-5p [%c] - %m%n"/>
        </layout>
    </appender>
    <!-- 配置上报的信息通过log来进行存贮 -->
    <!--appender name="tcpLog" class="org.apache.log4j.RollingFileAppender">
    	<param name="file" value="D:/ztdh/datas/new/log.txt"/>
        <param name="append" value="true"/>
        <param name="Threshold" value="INFO"/>
        <param name="MaxFileSize" value="2KB"/>
        <param name="MaxBackupIndex" value="100"/>            
        <param name="encoding" value="utf-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"   value="%m%n"/>
        </layout>
    </appender-->
    <!-- 只有这个记录文件 -->
    <category name="com.app.server.util.EchoBinaryHandler">
        <priority value="INFO"/>
        <!--<appender-ref ref="tcpLog"/>  -->
    </category>
    <category name="org.springframework">
        <priority value="INFO"/>
        <appender-ref ref="CONSOLE"/>  
    </category>
    <category name="cn.jpush">
        <priority value="INFO"/>
        <appender-ref ref="CONSOLE"/>  
    </category>
    <category name="com.ourway">
        <priority value="INFO"/>
        <appender-ref ref="CONSOLE"/>
    </category>
    <category name="org">
        <priority value="ERROR"/>
        <appender-ref ref="CONSOLE"/>  
    </category>
    <category name="org.zkoss">
        <priority value="INFO"/>
        <appender-ref ref="CONSOLE"/>
    </category>


</log4j:configuration>
